/*------------------------------------*\
    #SECTION-MAIN-CONFIG
\*------------------------------------*/


/* ==========================================================================
   Base-vars:
   ========================================================================== */

$app-primary-white: #f5f5f5;
$app-primary-black: #121212;
$app-text-color: #777;
$app-accent-color01: #562988;
$app-accent-color02: #F7E133;
$app-accent-color-bg01: #f4f4f4;
$app-border-color: #dddddd;

/*  */


