/*------------------------------------*\
    #SECTION-MAIN-CONFIG
\*------------------------------------*/


/* ==========================================================================
   Base-vars:
   ========================================================================== */

$app-primary-black: #121212;
$app-text-color: #333;
