/*------------------------------------*\
    #SECTION-MAIN-LAYOUT
\*------------------------------------*/

@import 'config';

/* ==========================================================================
   HTML overrule:
   ========================================================================== */

body {
    color: $app-text-color;
    font-family: "Noto Sans";
    font-size: 1em;
}



/* ==========================================================================
   Imports:
   ========================================================================== */

@import 'search';
@import 'result';
@import 'widget-input';
@import 'widget-input-radio';
@import 'widget-input-checkbox';
@import 'widget-button';
@import 'widget-select';
