/*------------------------------------*\
    #SECTION-MAIN-LAYOUT
\*------------------------------------*/

@import 'config';

/* ==========================================================================
   HTML overrule:
   ========================================================================== */

body {
    color: $app-text-color;
    font-size: 1em;
}
div {
    span {
        display: inline-block;
        min-width: 6em;
    }
    > span+span {
        margin-left: 1em;
    }
}

/* ==========================================================================
   Imports:
   ========================================================================== */

@import 'search';
@import 'widget-input';
@import 'widget-button';
