/*------------------------------------*\
    #SECTION-RESULT
\*------------------------------------*/

@import 'config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-result {
    //    border: .1em solid green;
    //padding: 2em;
}

/*
 * HTML main wrappers
 */

.w-result__header {}
.w-result__paging-info{
    margin: .5em 0;
}
.w-result__body {}

/* ==========================================================================
   HTML Table:
   ========================================================================== */

.w-result__table {
    border: .1em solid $app-accent-color01;
    border-collapse: collapse;
    margin-top: 6em;
    width:90%;
}

/* ==========================================================================
   HTML Table body: Header
   ========================================================================== */

.w-result__header-row {
    background: $app-accent-color01;
}
.w-result__header-cell {
    font-weight: bold;
    padding: .2em 1em;
    color: $app-primary-white;
    cursor: pointer;
}
.w-result__header-cell > div {
    // https://css-tricks.com/rotated-table-column-headers/
    transform: /* Magic Numbers */
    translate(-.5em, -.5em)
    /* 45 is really 360 - 45 */
    rotate(315deg);
    width: 1.1em;
}
.w-result__header-cell > div > span {
    border-bottom: .1em solid $app-accent-color-bg01;
    border-left: .1em solid $app-accent-color-bg01;
    padding: .2em .6em .4em;
    background: $app-accent-color01;
    border-radius: .3em;
}

/*
 * Modifiers
 */

.w-result__header-cell--sort {
    color: $app-accent-color02;
}

/* ==========================================================================
   HTML Table body: Data
   ========================================================================== */

.w-result__row {
    cursor: pointer;
}
//.w-result__row:nth-child(odd) {
//    background: $app-accent-color-bg01;
//}

/*
 * Modifiers
 */

.w-result__row--toggle {
    background: $app-accent-color-bg01;
}
.w-result__row--active {
    background: lighten($app-accent-color02, 30);
}

/*
 *  HTML TD to show the data
 */

.w-result__cell {
    padding: .6em 1em;
}
.w-result__highlight {
    background: $app-accent-color02;
    font-style: normal;
}

/* ==========================================================================
   HTML Table body: Admin
   ========================================================================== */

.w-result__admin {
    display: none;
}
.w-result__admin--active {
    display: table-row-group;
    border-top: .1em solid $app-accent-color01;
}
.w-result__admin-cell {
    padding: 1em;
}

/* ==========================================================================
   PageNav:
   ========================================================================== */

.w-result__pageNav {
    display: inline-block;
    margin-left: .3em;
}

/* ==========================================================================
   Overlay content:
   ========================================================================== */

.w-result__overlay-header {
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    height: 10%;
    width: 60%;
}
.w-result__overlay-body {
    box-sizing: border-box;
    color: white;
    width: 60%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 1em;
    overflow: auto;
    height: 70%;
}
.w-result__overlay-footer {
    box-sizing: border-box;
    margin: 0 auto;
    height: 20%;
    width: 60%;
}
.w-result__overlay-row {
    white-space: nowrap;
}
.w-result__overlay-cell {
    display: inline-block;
    margin-right: .2em;
    overflow: hidden;
}
.w-result__overlay-cell--active {
    background: red;
}
.w-result__overlay-cell--playerID {
    width: 6em;
}
.w-result__overlay-cell--yearID {
    width: 3em;
}
.w-result__overlay-cell--gameNum {
    width: 2em;
}
.w-result__overlay-cell--gameID {
    width: 8em;
}
.w-result__overlay-cell--teamID {
    width: 3em;
}
.w-result__overlay-cell--lgID {
    width: 2em;
}
.w-result__overlay-cell--GP {
    width: 2em;
}
.w-result__overlay-cell--startingPos {
    width: 2em;
}
