/*------------------------------------*\
    #SECTION-RESULT
\*------------------------------------*/

@import 'config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-result {
    border: .1em solid red;
    padding: 2em;
}

/*
 * HTML input type=text
 */

.w-result__header {
    
}

.w-result__body {
    
}