/*------------------------------------*\
    #SECTION-SEARCH
\*------------------------------------*/

@import 'config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-form {
    border-bottom: .1em solid $app-border-color;
    padding: 2em;
    background: $app-accent-color-bg01;
}