/*------------------------------------*\
    #SECTION-WIDGET-INPUT-CHECKBOX
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-radio {
    display: inline-block;
    border: .1em solid silver;
    @include widget-alignment;
}

/* ==========================================================================
   HTML element input:
   ========================================================================== */

.w-radio__radio {
    /* removes blue line on chrome */
    outline: none;
}
.w-radio__radio:focus {
    @include widget--focus;
}

/* ==========================================================================
   HTML element span: holds the actual text
   ========================================================================== */

.w-radio__label {}

/* ==========================================================================
   HTML element div: a wrapper for multiple radios
   ========================================================================== */

.w-radio__group {
    display: inline-block;
    @include widget-alignment;
}
.w-radio__group .w-radio {
    display: block;
    margin: 0;
}
