/*------------------------------------*\
    #SECTION-WIDGET-FILTER
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-filter__mainwrapper {
    border-bottom: $widget-border-specs;
    padding: .35em 0;
}
.w-filter__wrapper {
    display: inline-block;
    margin-bottom: .4em;
    margin-right: .4em;
}

/*
 *  Modifiers:
 */

.w-filter__wrapper--hidden {
    display: none;
}
.w-filter__label {
    display: inline-block;
    font-weight: bold;
    margin-right: .3em;
    vertical-align: top;
}
