/*------------------------------------*\
    #SECTION-WIDGET-BUTTON
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-button {
    background: $widget-backgound;
    border: $widget-border-specs;
    border-radius: $widget-border-radius;
    box-shadow: $widget-box-shadow-specs;
    color: $app-text-color;
    @include widget-alignment;
    /* removes blue line on chrome */
    outline: none;
    padding: .6em .9em;
}
.w-button:focus {
    @include widget--focus;
}

/*
 * Button modifiers
 */

.w-button--small {
    padding: .3em .6em;
}
.w-button--submit {
    color: white;
    background: $app-accent-color01;
    border-color: $app-accent-color01;
}
.w-button--close {
    background: transparent;
    border-color: white;
    box-shadow: none;
    color: white;
    float: right;
    font-weight: bold;
    margin-top: .6em;
    margin-right: .6em;
    &:before {
        content: '\2715';
        line-height: 0;
    }
}
.w-button--filter {
    display: none;
    font-size: .8em;
    padding: .1em .7em .15em;
    &:before {
        content: '\2715';
        font-size: 1em;
        //        font-weight: bold;
        line-height: 0;
        margin-right: .2em;
    }
}
.w-button--filter-active {
    display: inline-block;
}
.w-button__pageNav {
    color: white;
    background: $app-accent-color01;
    border-color: $app-accent-color01;
    @extend .w-button--small;
}
.w-button__pageNav--active {
    font-weight: bold;
    color: $app-accent-color01;
    background: $app-accent-color02;
    //border-color: $app-accent-color02;
}
.w-button__pageNav--disabled {
    background: white;
    color: $app-text-color;
}
