/*------------------------------------*\
    #SECTION-WIDGET-BUTTON
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-button {
    background: $widget-backgound;
    border: $widget-border-specs;
    border-radius: $widget-border-radius;
    box-shadow: $widget-box-shadow-specs;
    color: $app-text-color;
    @include widget-alignment;
    /* removes blue line on chrome */
    outline: none;
    padding: .6em .9em;
}
.w-button:focus {
    @include widget--focus;
}

/*
 * Button modifiers
 */

.w-button--submit {
    color: white;
    background: $app-accent-color01;
    border-color: $app-accent-color01;
}
.w-button--filter{
    display: none;
    font-size: .8em;
    padding: 0 .3em;
    &:before{
        content: '\2715';
        font-size: 1em;
//        font-weight: bold;
        line-height: 0;
        margin-right: .2em;
    }
}
.w-button--filter-active{
    display: inline-block;
}
