/*------------------------------------*\
    #SECTION-WIDGET-CONFIG
\*------------------------------------*/

@import 'config';

/* ==========================================================================
   Mixins for the widgets: w-select, w-input
   ========================================================================== */

$widget-border-color: $app-accent-color01;
$widget-border-specs: .1em solid $widget-border-color;
$widget-border-radius: .3em;
$widget-dropdown-bgcolor: #fff;
$widget-active-color: #fff;
$widget-focus-color: #29B0F4;
$widget-box-shadow-specs: .1em .1em .2em 0 #EDEDED;
//$widget-disabled-color: rgba($app-primary-black, .2);
$widget-backgound: linear-gradient(#ffffff, #F6F6F6);

/* ==========================================================================
   Mixins for the widgets: w-select, w-input
   ========================================================================== */

@mixin widget-alignment{
    margin: 0;
    margin-bottom: .25em;
    margin-right: .25em;
    vertical-align: bottom;
}

@mixin widget-base() {
    background: $widget-backgound;
    border: $widget-border-specs;
    border-radius: $widget-border-radius;
    box-shadow: $widget-box-shadow-specs;
    box-sizing: border-box;
    display: inline-block;
    //margin-right: .1em;
    //margin-bottom: .25em;
    position: relative;
    text-align: left;
    //vertical-align: top;
    @include widget-alignment;
}
@mixin widget-focus() {
    background: $widget-active-color;
    border-color: $widget-focus-color;
    box-shadow: .1em .1em .3em 0 rgba($widget-focus-color, .6);
}
