/*------------------------------------*\
    #SECTION-WIDGET-INPUT
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-input {
    @include widget-base;
}

/*
 * Widget's modifiers
 */

.w-input--small .w-input__input {
    padding: .3em .6em;
}
.w-input--focus {
    @include widget__text-select--focus;
}

/*
 * HTML input type=text
 */

.w-input__input {
    background-color: transparent;
    border: 0;
    padding: .65em;
}
.w-input__input:focus {
    /* removes blue line on chrome */
    outline: none;
}
