/*------------------------------------*\
    #SECTION-WIDGET-INPUT-CHECKBOX
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-radio {
    display: inline-block;
//    border: .1em solid silver;
    @include widget-alignment;
}

/* ==========================================================================
   HTML element input:
   ========================================================================== */

.w-radio__radio {
    margin: 0 .2em;
    /* removes blue line on chrome */
    outline: none;
}
.w-radio__radio:focus {
    @include widget--focus;
}

/* ==========================================================================
   HTML element span: holds the actual text
   ========================================================================== */

.w-radio__label {}

/* ==========================================================================
   HTML element div: a wrapper for multiple radios
   ========================================================================== */

.w-radio__group {
    display: inline-block;
    @include widget-base;
    padding: .6em;
}
.w-radio__group .w-radio {
    margin: 0;
}
.w-radio__group-label {
    display: inline-block;
    //font-size: .9em;
}
/*
 *  Modifiers: block
 */

.w-checkbox__group--block .w-checkbox {
    display: block;
}
