/*------------------------------------*\
    #SECTION-WIDGET-FILTER
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-filter__mainwrapper {
    border-top: .1em solid $app-border-color;
    margin-top: 1em;
    padding: 1em 0;
}
.w-filter__wrapper {
    display: inline-block;
}

/*
 *  Modifiers:
 */

.w-filter__wrapper--hidden {
    display: none;
}
.w-filter__label {
    display: inline-block;
    font-weight: bold;
}
