/*------------------------------------*\
    #SECTION-WIDGET-INPUT-CHECKBOX
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-checkbox {
    display: inline-block;
    border: .1em solid silver;
}

/* ==========================================================================
   HTML element input:
   ========================================================================== */

.w-checkbox__checkbox {}

/* ==========================================================================
   HTML element span:
   ========================================================================== */

.w-checkbox__label {}
