/*------------------------------------*\
    #SECTION-WIDGET-INPUT-CHECKBOX
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-radio {
    display: inline-block;
    border: .1em solid silver;
}

/* ==========================================================================
   HTML element input:
   ========================================================================== */

.w-radio__radio {}

/* ==========================================================================
   HTML element span: holds the actual text
   ========================================================================== */

.w-radio__label {}

/* ==========================================================================
   HTML element div: a wrapper for multiple radios
   ========================================================================== */

.w-radio__group {
    display: inline-block;
}

.w-radio__group .w-radio{
    display: block;
}