/*------------------------------------*\
    #SECTION-WIDGET-INPUT-CHECKBOX
\*------------------------------------*/

@import 'config';
@import 'widget-config';

/* ==========================================================================
   Base-settings:
   ========================================================================== */

.w-checkbox {
    display: inline-block;
    border: .1em solid silver;
    @include widget-alignment;
}

/* ==========================================================================
   HTML element input:
   ========================================================================== */

.w-checkbox__checkbox {}

/* ==========================================================================
   HTML element span: holds the actual text
   ========================================================================== */

.w-checkbox__label {}

/* ==========================================================================
   HTML element div: a wrapper for multiple checkboxes
   ========================================================================== */

.w-checkbox__group {
    display: inline-block;
    @include widget-alignment;
}

.w-checkbox__group .w-checkbox{
    margin: 0;
}
